@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-out{
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        left:0;
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .125s, transform 0s .125s;
    }
    .clip-in{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transform: rotate(180deg);
    }
    .rev-out{
        clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    .rev-in{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 1px;
        transition: clip-path .125s;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .space-me + .space-me {
        margin-left: 2em;
    }
}